{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>continual development...</h1>
  <p>Press any key to do nothing</p>

{% endblock %}
